.scroll-container{
    width: 100%;
    overflow: hidden;
    white-space: no-wrap;
    background: rgb(15, 15, 64);
    padding: 10px 0;
}
.scroll-text{
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    min-width: max-content;
    color: #00eaff;
    position: relative;
    animation: slide 15s linear infinite;
}
@keyframes slide {
    0%{
        transform: translatex(100vw);
    }
    100%{
        transform: translatex(-100%);
    }
}
